<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lidegui.littledrawer.dao.UserDao">
    <resultMap id="userResultMap" type="User">
        <id property="id" column="u_id" jdbcType="INTEGER"/>
        <result property="nickName" column="nick_name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="iconUrl" column="icon_url"/>
        <result property="token" column="token"/>
    </resultMap>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (u_id, nick_name, username, password, icon_url, token)
        VALUES (#{id}, #{nickName}, #{username}, #{password}, #{iconUrl}, #{token})
    </insert>

    <delete id="deleteById">
        DELETE FROM user
        WHERE u_id = #{id}
    </delete>

    <update id="updateById" parameterType="User">
        UPDATE user
        SET nick_name = #{nickName},
            username = #{username},
            password = #{password},
            icon_url = #{iconUrl},
            token = #{token}
        WHERE u_id = #{id}
    </update>

    <select id="findUserById" parameterType="Integer" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE u_id = #{id}
    </select>

    <select id="findUserByToken" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE token = #{token}
    </select>

    <select id="findUserInfoById" resultMap="userResultMap">
        SELECT u_id, nick_name,icon_url
        FROM user
        WHERE u_id = #{id}
    </select>

    <select id="findUserByUsername" parameterType="String" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>

    <select id="findUserByUsernameAndPassword" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE username = #{username} AND password = #{password}
    </select>

    <select id="findAll" resultMap="userResultMap">
        SELECT * FROM user
    </select>

</mapper>